* {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f6f8;
  transition: 0.3s;
}

.login-box {
  width: 320px;
  margin: 120px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard {
  padding: 20px;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}

.produk {
  margin-top: 30px;
}

table {
  width: 100%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.dark {
  background: #111827;
  color: white;
}

.dark .card,
.dark table,
.dark .login-box {
  background: #1f2933;
  color: white;
}